<header>
    <ul class="top-nav">
        <li class="top-nav-item"><a href="{% url 'blog_index' %}">Home</a></li>
        <li class="top-nav-item"><a href="{% url 'blog_category' 'News'%}">News</a></li>
        <li class="top-nav-item"><a href="{% url 'blog_category' 'Cruise Tips'%}">Cruise Tips</a></li>
        <li class="top-nav-item"><a href="#news">More</a></li>
        <li class="top-nav-item"><a href="#contact">Contact</a></li>
        <li  class="top-nav-item nav-end"><a href="{% url 'blog_about' %}">About</a></li>
      </ul>
</header>